body {
  background-color: #1a1a1a;  /* Dark background color for the entire app */
  color: #fff;                /* Set default text color to white */
  margin: 0;                  /* Remove default margin */
  font-family: 'Helvetica Neue', sans-serif; /* Consistent font */
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;                /* Ensure all headings are white */
}
