.widget-container {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjusted width */
    max-width: 600px; /* Decreased maximum width */
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
  }
  
  .widget-header {
    text-align: center;
    margin-bottom: 15px; /* Adjusted margin */
  }
  
  .widget-header h1 {
    color: #ffffff;
    font-size: 1.5rem; /* Adjusted font size */
    margin-bottom: 5px; /* Adjusted margin */
  }
  
  .widget-header p {
    color: #b0b0b0;
    font-size: 0.9rem; /* Adjusted font size */
  }
  
  .table-container {
    overflow-x: auto;
    padding: 10px; /* Adjusted padding */
    background-color: #212121;
    border-radius: 8px; /* Adjusted border radius */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px 15px; /* Adjusted padding */
    text-align: center;
    border-bottom: 1px solid #333;
  }
  
  th {
    color: #ffffff;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5px; /* Adjusted spacing */
    font-size: 12px; /* Adjusted font size */
  }
  
  td {
    color: #e0e0e0;
  }
  
  tr:nth-child(even) {
    background-color: #252525;
  }
  
  tr:hover {
    background-color: #2e2e2e;
  }
  
  .status-paid {
    color: #27ae60;
  }
  
  .status-due {
    color: #e74c3c;
  }
  